body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00072d;
  margin: 0;
  padding: 0;
}
.win {
  font-size: 35px;
  color: rgb(206, 236, 10);
  text-align: center;
  position: fixed;
  z-index: 1;
  background-color: rgba(149, 148, 148, 0.795);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  inset: 0;
  visibility: hidden;
}
button {
  background-color: #4caf50;

  border-radius: 4px;
  padding: 14px 40px;
  color: white;
  font-size: 16px;
  border: 2px solid #4caf50;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.welcome {
  font-size: 35px;
  color: aliceblue;
  text-align: center;
}
.timer {
  font-size: 35px;
  color: aliceblue;
  padding-bottom: 30px;
}
.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 140px 140px 140px;
  gap: 40px 40px;
}

.flipped-card {
  display: flex;
  width: 100px;
  height: 140px;
  border: 5px solid white;
  align-items: center;
  border-radius: 5px;
  cursor: block;
  pointer-events: none;
  transition: all 700ms ease-out;
  transform: rotateY(180deg);
  background-color: white;
}

.unflipped-card {
  cursor: pointer;
  display: flex;
  width: 100px;
  height: 140px;
  border: 5px solid white;
  align-items: center;
  border-radius: 5px;

  background: linear-gradient(
      135deg,
      rgb(192, 192, 192) 22px,
      white 22px,
      white 24px,
      transparent 24px,
      transparent 67px,
      white 67px,
      white 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        rgb(192, 192, 192) 22px,
        white 22px,
        white 24px,
        #a6e1fa 24px,
        #a6e1fa 67px,
        white 67px,
        white 69px,
        #a6e1fa 69px
      )
      0 64px;
}
.container :active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.unflipped-card img {
  display: none;
}

.selected {
  opacity: 0.5;
}
